{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header_logo %}
    {# Shop #}
    {% if context.salesChannel.id == "117fc963b83e4318b040eac17bd8b70d" %}
        {% set menuClass1 = "active" %}
    {% endif %}
    {# B2B Shop #}
    {% if context.salesChannel.id == "4a186f835877446aa29cd798f0e57437" %}
        {% set menuClass3 = "active" %}
    {% endif %}
    <div class="col-3 col-lg-2 col-md-2 col-sm-2 header-logo-col">
        {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
    </div>

    <div class="col-12 order-12 col-sm-3 col-md-3 col-lg-4 order-sm-2 order-md-2 order-lg-2 header-top-menu-col">
        <a href="https://kern-schmelze.com" title="Shop" class="{{ menuClass1 }}"><span>Shop</span></a>
        <a href="https://magazin.kern-schmelze.com" target="_blank" title="Magazin"><span>Magazin</span></a>
        <a href="https://b2b.kern-schmelze.com" title="B2B Shop" class="{{ menuClass3 }}"><span>B2B</span></a>
    </div>
{% endblock %}

{% block layout_header_search %}
    <div class="col-12 order-2 col-sm-12 col-md-12 order-sm-12 order-md-12 order-lg-12 header-search-col">
        <div class="row">
            <div class="col">
                {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block layout_header_actions %}
    <div class="col-9 order-1 col-sm-7 col-md-7 col-lg-6 order-sm-2 header-actions-col">
        <div class="row no-gutters">
            {% block layout_header_search_toggle %}
                <div class="col-auto">
                    <div class="search-toggle">
                        <button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed"
                                type="button"
                                data-toggle="collapse"
                                data-target="#searchCollapse"
                                aria-expanded="false"
                                aria-controls="searchCollapse"
                                aria-label="{{ "header.searchButton"|trans|striptags }}">
                            {% sw_icon 'search' %}

                            <span>{{ "InvKernschmelzeTemplate.searchLinkText"|trans }}</span>
                        </button>
                    </div>
                </div>
            {% endblock %}

            {% block layout_header_actions_account %}
                {{ parent() }}
            {% endblock %}

            {% block layout_header_actions_cart %}
                {{ parent() }}
            {% endblock %}

            {% block layout_header_navigation_toggle %}
                <div class="col-auto d-lg-none d-block">
                    <div class="menu-button">
                        {% block layout_header_navigation_toggle_button %}
                            <button class="btn nav-main-toggle-btn header-actions-btn"
                                    type="button"
                                    data-offcanvas-menu="true"
                                    aria-label="{{ "general.menuLink"|trans|striptags }}">
                                {% block layout_header_navigation_toggle_button_icon %}
                                    {% sw_icon 'stack' %}
                                {% endblock %}
                            </button>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
