{# @var productListing \Shopware\Core\Framework\DataAbstractionLayer\Search\EntitySearchResult #}
{# @var mixPluginOptions array #}

{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {{ parent() }}
    <div class="row">
        <div class="col-8">
            <ul>
                {% for product in productListing.elements %}
                    <li>
                        {{ product.name }}<br/>
                        {{ product.id }} <br/>
                        <form method="post"
                              action="{{ path('invMixerProduct.storeFront.mix.session.add') }}"
                              class="inv-mixer-product-listing-product"
                              data-inv-mixer-product-listing-product-id="{{ product.id }}"
                              data-inv-mixer-product-listing-action="true">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('invMixerProduct.storeFront.mix.session.add') }}">
                            <button class="button sw-button" type="submit">
                                (+)
                            </button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-4">
            {% set mixPluginOptions = {
                urlMixState: path('invMixerProduct.storeFront.mix.state')
            } %}

            <div data-inv-mixer-product-mix="true"
                 data-inv-mixer-product-mix-options='{{ mixPluginOptions|json_encode }}'></div>
        </div>
    </div>
{% endblock %}


