{# @var productListing \Shopware\Core\Framework\DataAbstractionLayer\Search\EntitySearchResult #}
{# @var mixView \InvMixerProduct\DataObject\MixView #}

{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {{ parent() }}
    <div class="row">
        <div class="col-10">
            <ul>
                {% for product in productListing.elements %}
                    <li>
                        {{ product.name }}<br/>
                        {{ product.id }} <br/>
                        <form method="post"
                              action="{{ path('invMixerProduct.storeFront.mix.session.add', {'product_id' : product.id, 'quantity' : 1 }) }}">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('invMixerProduct.storeFront.mix.session.add') }}">
                            <button class="button sw-button" type="submit">
                                (+)
                            </button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-2">
            <p>
                Id: {{ mixView.mixId }}
            </p>
            {% if(mixView.customer) %}
                <p>
                    Customer: {{ mixView.customer.email }}
                </p>
            {% endif %}
            <p>
                Label: {{ mixView.mixLabel }}
            </p>
            <p>
                Container Design: {{ mixView.containerDefinition.design }}
            </p>
            <p>
                Container MaxWeight: {{ mixView.containerDefinition.maxContainerWeight }}
            </p>
            <p>
                Total Price: {{ mixView.mixTotalPrice.value }}
            </p>
            <p>
                <a href="{{ path('invMixerProduct.storeFront.mix.session.reset') }}">
                    <button type="button" class="sw-button button-reset">
                        Reset
                    </button>
                </a>
            </p>
        </div>
    </div>
{% endblock %}


