<td>
    {% if lineItem.payload.inv_mixer_product__is_mix_container_product %}
        <img
            src="{{ asset('storefront/img/mix-container-product.jpg', '@InProductImageDocuments') }}"
            alt="{{ "InvMixerProduct.checkout.mixProductContainer.title|trans" }}"
            class="img-fluid cart-item-img"
            width="{{ config.invImageSize }}px"
        />
    {% elseif lineItem.cover.url %}
        <img src="{{lineItem.cover.url}}" width="{{ config.invImageSize }}px">
    {% else %}
        {% sw_icon 'placeholder' style {
            'size': 'fluid'
        } %}
    {% endif %}
</td>
