{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail-list-item.html.twig' %}

{% set lineItemTemplateType = constant('Swag\\CustomizedProducts\\Core\\Checkout\\CustomizedProductsCartDataCollector::CUSTOMIZED_PRODUCTS_TEMPLATE_LINE_ITEM_TYPE') %}
{% set lineItemOptionType = constant('Swag\\CustomizedProducts\\Core\\Checkout\\CustomizedProductsCartDataCollector::CUSTOMIZED_PRODUCTS_OPTION_LINE_ITEM_TYPE') %}
{% set lineItemOptionValueType = constant('Swag\\CustomizedProducts\\Core\\Checkout\\CustomizedProductsCartDataCollector::CUSTOMIZED_PRODUCTS_OPTION_VALUE_LINE_ITEM_TYPE') %}
{% set cover, label, referencedId, configurationItems, referencePrice = null, null, null, [], null %}
{% set isCustomizedProduct = lineItem.type == lineItemTemplateType or lineItem.type == lineItemOptionType or lineItem.type == lineItemOptionValueType %}

{% if isCustomizedProduct %}
    {% for child in lineItem.children %}
        {% if child.type == 'product' %}
            {% set label = child.label %}
            {% set referencedId = child.referencedId %}

            {% if child.cover.url %}
                {% set cover = child.cover %}
            {% endif %}

            {% set referencePrice = child.price %}
            {% set isNested = false %}
        {% else %}
            {% set configurationItems = configurationItems|merge([child]) %}
        {% endif %}
    {% endfor %}

    {% do lineItem.setLabel(label) %}
    {% do lineItem.setCover(cover) %}
{% endif %}

{% block page_account_order_item_detail_list_item_container %}
    {% if isCustomizedProduct %}
        {% set isNested = false %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block page_account_order_item_detail_name_value %}
    {% if isCustomizedProduct %}
        <a href="{{ seoUrl('frontend.detail.page', {'productId': referencedId}) }}"
           class="order-item-product-name"
           title="{{ label }}">
            <strong class="name-value">{{ label }}</strong>
        </a>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_account_order_item_detail_image_value %}
    <div class="order-item-product-image">
        {% if isDiscount %}
            <div class="order-item-img order-item-discount-icon">
                {% sw_icon 'marketing' style {
                    'color': 'success'
                } %}
            </div>
        {% elseif isNested %}
            <div class="order-item-nested-icon">
                {% sw_icon 'bag-product' style {
                    'color': 'light'
                } %}
            </div>
        {% else %}
            {% if isCustomizedProduct %}
                <a href="{{ seoUrl('frontend.detail.page', {'productId': referencedId}) }}"
                   class="product-image-link"
                   title="{{ label }}">
                    {% block page_checkout_item_info_image_element %}
                        {{ parent() }}
                    {% endblock %}
                </a>
            {% else %}
                {{ parent() }}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block page_account_order_item_detail_list_item_children %}
    {% if isCustomizedProduct %}
        <div class="swag-customized-product__order-detail-configuration">
            {% sw_include '@Storefront/storefront/component/checkout/_include/cart-configuration.html.twig' with {
                'items': configurationItems,
                'productId': referencedId
            } %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_account_order_item_detail_price_value %}
    {% if isCustomizedProduct %}
        <span class="order-item-value order-item-price-value">
            {{ referencePrice.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
        </span>
    {% endif %}
{% endblock %}

