{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_form_inner %}
    <div class="swag-cms-extensions-quickview-product-buy-form container-fluid">
        {{ parent() }}
        {% block swag_cms_extensions_detail_buy_form_detail_button %}
            <a class="swag-cms-extensions-quickview-detail-page-button btn btn-outline-secondary btn-lg btn-block"
               title="{{ product.translated.name }}"
               href="{{ seoUrl('frontend.detail.page', {'productId': page.product.id}) }}">
                {{ "swagCmsExtensions.quickview.detailPageLinkText"|trans }}
            </a>
        {% endblock %}
    </div>
{% endblock %}

{% block page_product_detail_buy_container %}
    {% if not customizedProductsTemplate %}
        {% set customizedProductsTemplate = page.product.extensions.swagCustomizedProductsTemplate %}
    {% endif %}

    {% if not customizedProductsTemplate or not customizedProductsTemplate.active or not customizedProductsTemplate.options|length %}
        <div class="swag-cms-extensions-quickview-product-buy-container row">
            <label class="product-detail-form-container--quantity-label"
                   for="lineItems[{{ page.product.id }}][quantity]">
                <span>{{ "swagCmsExtensions.quickview.detailPageBuyWidgetQuantityLabel"|trans }}</span>
            </label>
        </div>
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_product_detail_buy_quantity_container %}
    <div class="swag-cms-extensions-quickview-content--buy-quantity col-12 col-md-4">
        {% block page_product_detail_buy_quantity %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block page_product_detail_buy_button_container %}
    <div class="swag-cms-extensions-quickview-content--buy-button col-12 col-md-8">
        {% block page_product_detail_buy_button %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
