{# @var sourceCollection \InvExportLabel\Value\SourceCollection #}
<html>

<head>
    <style>
        body {
            background: black;
            color: white;
            font-family: Arial, sans-serif;
            margin:0;
            padding:0;
        }

        .container {
            width: 66mm;
            height: auto;
            padding:0;
            margin: 2mm 2mm 2mm 2mm;

        }

        @page {
            page-break-after: always;
            margin: 0;
            padding:0;
            size: 71mm 71mm landscape;
        }

        .logo-image {
            text-align: center;
            position: absolute;
            top: 3mm;
            left: 52%;
            transform: translate(-52%, 0);
            width: 12mm;
        }

        img {
            text-align: center;
            margin: 0 auto 10px auto;
            width: 13mm;
            height: 14mm;
            display: block;
            border: 0;
        }

        p {
            font-family: Arial, sans-serif;
            text-align: center;
            font-size: 5pt;
            margin: 0 0 5px 0;
            padding: 0;
        }

        .break {
            page-break-after: always;
        }

        .mix-name {
            font-size: 8pt;
            font-weight: bold;
            margin-top: 18mm;
        }

        .mix-id {
            text-align: center;
            font-size: 5pt;
        }

        .best-and-weight {
            text-align: center;
            font-size: 5pt;
        }

        .weight {
            font-size: 8pt;
            font-weight: bold;
        }

        .address {
            font-size: 5pt;
            text-align: center;
        }
    </style>
</head>
<body>

{% for item in sourceCollection.items %}
    {# @var item \InvExportLabel\Value\SourceItemType\MixerProductSourceItem #}
    <div class="container">

        <div class="logo-image">
            <img src="https://kern-schmelze.com/bundles/invexportlabel/img/logo.svg" />
        </div>

        <p class="mix-name">
            {{ item.mixName }}
        </p>
        <p>
            Zutaten: {{ item.ingredients|join(', ') }}
        </p>
        <p class="disclaimer">
            <strong>
                Kann Spuren enthalten von anderen Nüssen, Ei,
                glutenhaltigem Getreide, Sesam, Sulfit.
            </strong>
            <br />
            Vor Wärme schützen und trocken lagern.
        </p>
        <p class="mix-id">
            Mixed-ID: {{ item.displayId }}
        </p>
        <p class="best-and-weight">
            <span class="best-before">Mindestens haltbar bis: {{ item.bestBeforeDate | date("d.m.Y") }}</span>
            <span class="weight">&nbsp;&nbsp;&nbsp;&nbsp;{{ item.weight }}</span>
        </p>
        <p class="address">
            KERNenergie GmbH · Grundtalring 23 · D-63868 Großwallstadt <br/>
            www.kern-energie.com www.kern-schmelze.com
        </p>
    </div>
    {% if false == (loop.last) %}
        <div class="break"></div>
    {% endif %}
{% endfor %}
</body>
</html>
