{# Modify the name to pretend an indicator #}
{% block sw_order_line_items_grid_columns_name_label %}
    <strong v-if="productHasCustomizedProduct(item)"
            class="swag-customized-products-order-line-item-prefix">
        {{ $tc('swag-customized-products.extension.textOrderItemPrefix') }}:
    </strong>
    {{ item.label }}
{% endblock %}

{% block sw_order_line_items_grid_grid_columns_label_link %}
    <router-link v-else-if="!isInlineEdit && item.type === 'product' && !productHasCustomizedProduct(item)"
                 :title="$tc('sw-order.detailBase.contextMenuShowProduct')"
                 :to="{ name: 'sw.product.detail', params: { id: item.productId } }">

        {% block sw_order_line_items_grid_columns_name_label %}
            {{ item.label }}
        {% endblock %}
    </router-link>

    <template v-else-if="!isInlineEdit && item.type ==='product' && productHasCustomizedProduct(item)">
        <a href="#" @click.prevent="onOpenCustomProductConfiguration(item)">
            <strong v-if="productHasCustomizedProduct(item)" class="swag-customized-products-order-line-item-prefix">
                {{ $tc('swag-customized-products.extension.textOrderItemPrefix') }}:
            </strong>
            {{ item.label }}
        </a>
    </template>
{% endblock %}

{# Modify the name to pretend an indicator when we're dealing with a product #}
{% block sw_order_line_items_grid_grid_columns_label_content %}
    <template v-else>
        <strong v-if="productHasCustomizedProduct(item)" class="swag-customized-products-order-line-item-prefix">
            {{ $tc('swag-customized-products.extension.textOrderItemPrefix') }}:
        </strong>
        {{ item.label }}
    </template>
{% endblock %}

{# Replace the original product price with the calculated custom product price #}
{% block sw_order_line_items_grid_grid_columns_unit_price %}
    <template #column-unitPrice="{ item, isInlineEdit }">
        <template v-if="item.parent">
            {{ item.parent.unitPrice | currency(order.currency.shortName) }}
        </template>

        <template v-else>
            {{ item.unitPrice | currency(order.currency.shortName) }}
        </template>
    </template>
{% endblock %}

{# Replace the original product price with the calculated custom product price #}
{% block sw_order_line_items_grid_grid_columns_total_price_content %}
    <template v-if="item.parent">
        {{ item.parent.totalPrice | currency(order.currency.shortName) }}
    </template>

    <template v-else>
        {% parent %}
    </template>
{% endblock %}

{# Append "view configuration" button to the action column of the grid #}
{% block sw_order_line_items_grid_grid_actions_show %}
    {% parent %}
    <sw-context-menu-item :disabled="!productHasCustomizedProduct(item)"
                          @click="onOpenCustomProductConfiguration(item)">
        {{ $tc('swag-customized-products.extension.buttonViewConfiguration') }}
    </sw-context-menu-item>
{% endblock %}

{# Append custom products configuration modal window #}
{% block sw_order_line_items_grid_actions %}
    <swag-customized-products-configuration-modal
        v-if="currentProduct && isCustomProductModalOpen"
        :orderLineItems="order.lineItems"
        :currentProduct="currentProduct"
        :currency="order.currency"
        @modal-close="onCloseCustomProductConfigurationModal">
    </swag-customized-products-configuration-modal>
{% endblock %}
