{%  if page.product.translated.customFields.custom_product_data_benefits %}
    <ul class="product-detail-benefits d-flex align-items-center">
        {% if page.product.translated.customFields.custom_product_data_benefits.0 %}
            <li class="benefit benefit1">{{ 'InvKernschmelzeTemplate.benefits.benefit1'|trans }}</li>
        {% endif %}

        {% if page.product.translated.customFields.custom_product_data_benefits.1 %}
            <li class="benefit benefit2">{{ 'InvKernschmelzeTemplate.benefits.benefit2'|trans }}</li>
        {% endif %}

        {% if page.product.translated.customFields.custom_product_data_benefits.2 %}
            <li class="benefit benefit3">{{ 'InvKernschmelzeTemplate.benefits.benefit3'|trans }}</li>
        {% endif %}

        {% if page.product.translated.customFields.custom_product_data_benefits.3 %}
            <li class="benefit benefit4">{{ 'InvKernschmelzeTemplate.benefits.benefit4'|trans }}</li>
        {% endif %}

        {% if page.product.translated.customFields.custom_product_data_benefits.4 %}
            <li class="benefit benefit5">{{ 'InvKernschmelzeTemplate.benefits.benefit5'|trans }}</li>
        {% endif %}

        {% if page.product.translated.customFields.custom_product_data_benefits.5 %}
            <li class="benefit benefit6">{{ 'InvKernschmelzeTemplate.benefits.benefit6'|trans }}</li>
        {% endif %}
    </ul>

    {{ dump(InvKernschmelzeTemplate.benefits) }}
{% endif %}
