{% block swag_customized_products_option_type_template_checkbox %}
    <div class="swag-customized-products-option-type__checkbox-wrapper">

        {% block swag_customized_products_option_type_template_checkbox_content %}
            <div class="swag-customized-products__boolean custom-control custom-switch rounded">

                {% block swag_customized_products_option_type_template_checkbox_input_checkbox %}
                    <input type="checkbox"
                           id="swag-customized-products-option-id-{{ option.id }}"
                           name="{{ constant('Swag\\CustomizedProducts\\Storefront\\Controller\\CustomizedProductsCartController::CUSTOMIZED_PRODUCTS_TEMPLATE_REQUEST_PARAMETER') }}[options][{{ option.id }}][value]"
                           class="form-control swag-customized-products-form-control custom-control-input">
                {% endblock %}

                {% block swag_customized_products_option_type_template_checkbox_input_label %}
                    <label class="custom-control-label"
                           for="swag-customized-products-option-id-{{ option.id }}">
                        {{ option.translated.displayName }}
                    </label>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
