{# @var mixView \InvMixerProduct\DataObject\MixView #}
{# @var containerDefinitionCollection \InvMixerProduct\Struct\ContainerDefinitionCollection #}

{% block inv_product_mixer_sidebar %}
    <div>
        {% block inv_product_mixer_sidebar_messages %}
            <div class="flashbags">
                {% for type, messages in app.flashes %}
                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                        type: type,
                        list: messages
                    } %}
                {% endfor %}
            </div>
        {% endblock %}

        {% block inv_product_mixer_sidebar_mixer_product_size %}
            {% block inv_product_mixer_sidebar_mixer_product_size_title %}
                <hr/>
                <span class="title">{{ "InvMixerProduct.sidebar.titles.size"|trans }}</span>
            {% endblock %}

            {% block inv_product_mixer_sidebar_mixer_product_size_items %}
                <ul class="mixer-product-sizes">
                    {% for availableContainerWeight in containerDefinitionCollection.availableMaxWeights %}
                        {% if mixView.containerDefinition.fillDelimiter.weight == availableContainerWeight %}
                            {% set class = "active" %}
                        {% else %}
                            {% set class = "" %}
                        {% endif %}

                        <li class="{{ class }}">
                            <p>{{ availableContainerWeight }}</p>
                            <form method="post"
                                  action="{{ path('invMixerProduct.storeFront.mix.session.container.weight.set') }}"
                                  data-inv-mixer-mix-state-action="true"
                            >
                                <input type="hidden" name="weight" value="{{ availableContainerWeight }}">
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('invMixerProduct.storeFront.mix.session.container.weight.set') }}">
                                <button type="submit">set: {{ availableContainerWeight }}</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% endblock %}
        {% endblock %}

        {% block inv_product_mixer_sidebar_mixer_product_design %}
            {% block inv_product_mixer_sidebar_mixer_product_design_title %}
                <hr/>
                <span class="title">{{ "InvMixerProduct.sidebar.titles.design"|trans }}</span>
            {% endblock %}

            {% block inv_product_mixer_sidebar_mixer_product_design_items %}
                <ul class="mixer-product-designs">
                    {% for availableContainerDesign in containerDefinitionCollection.availableDesigns %}
                        {% if mixView.containerDefinition.design == availableContainerDesign %}
                            {% set class = "active" %}
                        {% else %}
                            {% set class = "" %}
                        {% endif %}

                        <li class="{{ class }}">
                            <p>{{ availableContainerDesign }}</p>
                            <form method="post"
                                  action="{{ path('invMixerProduct.storeFront.mix.session.container.design.set') }}"
                                  data-inv-mixer-mix-state-action="true"
                            >
                                <input type="hidden" name="design" value="{{ availableContainerDesign }}">
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('invMixerProduct.storeFront.mix.session.container.design.set') }}">
                                <button type="submit">set: {{ availableContainerDesign }}</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% endblock %}

            {% block inv_product_mixer_sidebar_mixer_product_base %}
                {% block inv_product_mixer_sidebar_mixer_product_base_title %}
                    <hr/>
                    <span class="title">{{ "InvMixerProduct.sidebar.titles.base"|trans }}</span>
                {% endblock %}

                <ul class="mixer-product-base-product">
                    {% for availableContainerBaseProduct in containerDefinitionCollection.availableBaseProducts %}
                        {% if mixView.containerDefinition.baseProduct.identifier == availableContainerBaseProduct.identifier %}
                            {% set class = "active" %}
                        {% else %}
                            {% set class = "" %}
                        {% endif %}

                        <li class="{{ class }}">
                            <p>{{ availableContainerBaseProduct }}</p>
                            <form method="post"
                                  action="{{ path('invMixerProduct.storeFront.mix.session.container.baseProduct.set') }}"
                                  data-inv-mixer-mix-state-action="true"
                            >
                                <input type="hidden" name="baseProduct" value="{{ availableContainerBaseProduct }}">
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('invMixerProduct.storeFront.mix.session.container.baseProduct.set') }}">
                                <button type="submit">set: {{ availableContainerBaseProduct }}</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% endblock %}
        {% endblock %}

        {% block inv_product_mixer_sidebar_mixer_product_items %}
            <hr/>

            {% if mixView.items is empty %}
                {{ "InvMixerProduct.placeholders.noItems"|trans }}
            {% endif %}

            <div class="mixer-product-items">
                {% for mixViewItem in mixView.itemCollection.items %}
                    {% set name = mixViewItem.referencedMixItem.product.translated.name %}
                    {% set id = mixViewItem.referencedMixItem.product.id %}

                    {# Todo: Make mixItem.product.cover available #}
                    {% set coverId = mixViewItem.referencedMixItem.product.coverId %}
                    {% set mediaCollection = searchMedia([coverId], context.context) %}
                    {% set mixItemCover = mediaCollection.get(coverId) %}

                    {% set mixItemPrice = mixViewItem.referencedMixItem.product.price.first.gross|currency %}
                    {% set mixItemQuantity = mixViewItem.quantity %}
                    {% set mixItemWeight = mixViewItem.referencedMixItem.product.weight * mixViewItem.referencedMixItem.product.referenceUnit %}

                    {# Todo: Make mixItem.product.unit available #}
                    {% set mixItemUnit = "g" %}

                    {% block inv_product_mixer_sidebar_mixer_product_item %}
                        <div class="row mixer-product-item-wrapper">
                            {% block inv_product_mixer_sidebar_mixer_product_item_image %}
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class="mixer-product-item-image-wrapper">
                                        {% if mixItemCover.url %}
                                            {% set attributes = {
                                                'class': 'product-image',
                                                'alt': (cover.translated.alt ?: name),
                                                'title': (cover.translated.title ?: name)
                                            } %}

                                            {% sw_thumbnails 'product-image-thumbnails' with {
                                                media: cover,
                                                sizes: {
                                                    'xs': '501px',
                                                    'sm': '315px',
                                                    'md': '427px',
                                                    'lg': '333px',
                                                    'xl': '284px'
                                                }
                                            } %}
                                        {% else %}
                                            <div class="mixer-product-item-image-placeholder">
                                                {% sw_icon 'placeholder' style {
                                                    'size': 's'
                                                } %}
                                            </div>
                                        {% endif %}

                                        {#
                                        {{ product.coverId }}
                                        {{ dump() }}
                                        #}
                                    </div>
                                </div>
                            {% endblock %}

                            {% block inv_product_mixer_sidebar_mixer_product_item_data %}
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <span class="mix-item-product-name product-name">{{ name }}</span>
                                    <span
                                        class="mix-item-product-quantity">{{ mixItemQuantity }} x {{ mixItemWeight }} {{ mixItemUnit }}</span>
                                </div>
                            {% endblock %}

                            {% block inv_product_mixer_sidebar_mixer_product_item_price %}
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <span
                                        class="mix-item-product-price">{{ mixItemPrice }}{{ "general.star"|trans|sw_sanitize }}</span>
                                </div>
                            {% endblock %}

                            {% block inv_product_mixer_sidebar_mixer_product_item_actions %}
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    <div class="mix-item-product-actions">
                                        <form method="post"
                                              action="{{ path('invMixerProduct.storeFront.mix.session.item.quantity.set') }}"
                                              data-inv-mixer-mix-state-action="true"
                                        >
                                            {% set newQuantity = mixViewItem.quantity  + 1 %}
                                            <input type="hidden" name="product_id" value="{{ mixViewItem.productId }}">
                                            <input type="hidden" name="_csrf_token"
                                                   value="{{ csrf_token('invMixerProduct.storeFront.mix.session.item.quantity.set') }}">
                                            <input type="hidden" name="quantity" value="{{ newQuantity }}">
                                            <button type="submit" class="button-plus"><img
                                                    src="{{ asset('storefront/img/button-plus.svg', '@InvMixerProduct') }}"
                                                    alt="{{ "InvMixerProduct.buttons.remove"|trans }}"/></button>
                                        </form>
                                        <form method="post"
                                              action="{{ path('invMixerProduct.storeFront.mix.session.item.quantity.set') }}"
                                              data-inv-mixer-mix-state-action="true"
                                        >
                                            {% set newQuantity = mixViewItem.quantity  - 1 %}
                                            <input type="hidden" name="product_id" value="{{ mixViewItem.productId }}">
                                            <input type="hidden" name="_csrf_token"
                                                   value="{{ csrf_token('invMixerProduct.storeFront.mix.session.item.quantity.set') }}">
                                            <input type="hidden" name="quantity" value="{{ newQuantity }}">
                                            <button type="submit" class="button-minus"><img
                                                    src="{{ asset('storefront/img/button-minus.svg', '@InvMixerProduct') }}"
                                                    alt="{{ "InvMixerProduct.buttons.remove"|trans }}"/></button>
                                        </form>
                                        <form method="post"
                                              action="{{ path('invMixerProduct.storeFront.mix.session.item.quantity.set') }}"
                                              data-inv-mixer-mix-state-action="true"
                                        >
                                            <input type="hidden" name="product_id" value="{{ mixViewItem.productId }}">
                                            <input type="hidden" name="_csrf_token"
                                                   value="{{ csrf_token('invMixerProduct.storeFront.mix.session.item.quantity.set') }}">
                                            <input type="hidden" name="quantity" value="0">
                                            <button type="submit" class="button-close"><img
                                                    src="{{ asset('storefront/img/button-close.svg', '@InvMixerProduct') }}"
                                                    alt="{{ "InvMixerProduct.buttons.remove"|trans }}"/></button>
                                        </form>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {#
                    <p>MixId: {{ mixItem.mix.id }}</p>
                    <p>MixItemId: {{ mixItem.id }}</p>
                    <p>Quantity: {{ mixItem.quantity }}</p>
                    <p>Product Name: {{ mixItem.product.name }}</p>
                    <p>Product Id: {{ mixItem.product.id }}</p>
                    <p>Price: {{ mixItem.product.price.first.gross }}</p>

                    <p>Cover-ID: {{ coverId }}</p>
                    <p>Mix-Item-Cover-Url: {{ mixItemCover.url }}</p>
                    #}
                {% endfor %}
            </div>
        {% endblock %}

        {% block inv_product_mixer_sidebar_mixer_product_label %}
            {% block inv_product_mixer_sidebar_mixer_product_label_title %}
                <hr/>
                <span class="title">{{ "InvMixerProduct.sidebar.titles.label"|trans }}</span>
            {% endblock %}

            {% block inv_product_mixer_sidebar_mixer_product_label_form %}
                <div class="mixer-product-label">
                    <form method="post" action="{{ path('invMixerProduct.storeFront.mix.session.label.set') }}"
                          data-inv-mixer-mix-state-action="true"
                    >
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('invMixerProduct.storeFront.mix.session.label.set') }}">
                        <input type="text" name="label" value="{{ mixView.mixLabel }}"
                               placeholder="{{ "InvMixerProduct.placeholders.mixLabel"|trans }}"/>

                        {# Todo: Use onChange event and remove button #}
                        <button type="submit">set label</button>
                    </form>
                </div>
            {% endblock %}
        {% endblock %}

        {% block inv_product_mixer_sidebar_price_info %}
            {# Todo: Calculate and fill with value: mixView.mixTotalPrice.value #}
            {% if mixView.mixTotalPrice.value == 0 %}
                {% set mixerProductTotalPrice = 8.49 %}
            {% else %}
                {% set mixerProductTotalPrice = mixView.mixTotalPrice.value %}
            {% endif %}

            {# Todo: Calculate and fill with value: mixView.mixTotalWeight.value #}
            {% if mixView.mixTotalWeight.value == 0 %}
                {% set mixerProductTotalWeight = 200 %}
            {% else %}
                {% set mixerProductTotalWeight = mixView.mixTotalWeight.value %}
            {% endif %}

            {% set mixerProductBasePrice = mixerProductTotalPrice / mixerProductTotalWeight * 100 %}

            {% if context.taxState == "gross" %}
                {% set taxText = "general.grossTaxInformation"|trans|sw_sanitize %}
            {% else %}
                {% set taxText = "general.netTaxInformation"|trans|sw_sanitize %}
            {% endif %}

            <hr/>
            <div class="mixer-product-price-info">
                <span class="mixer-product-total">
                    {{ mixerProductTotalPrice|currency }}
                </span>
                <span class="mixer-product-baseprice">
                     ({{ mixerProductBasePrice|currency }}{{ "general.star"|trans|sw_sanitize }} / 100 {{ mixView.mixTotalWeight.unit }})
                     <a class="mixer-product-tax-link"
                        href="{{ path('frontend.cms.page',{ id: shopware.config.core.basicInformation.shippingPaymentInfoPage }) }}"
                        title="{{ taxText }}"
                        data-toggle="modal"
                        data-url="{{ path('frontend.cms.page',{ id: shopware.config.core.basicInformation.shippingPaymentInfoPage }) }}">
                        {{ taxText }}
                    </a>
                </span>
            </div>
        {% endblock %}

        {% block inv_product_mixer_sidebar_actions %}
            <div class="mixer-product-actions">
                {#
                {% block inv_product_mixer_sidebar_action_reset %}
                    <form method="get" action="{{ path('invMixerProduct.storeFront.mix.session.reset') }}" data-inv-mixer-mix-state-action="true">
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('invMixerProduct.storeFront.mix.session.reset') }}">
                        <button type="submit" class="sw-button button-reset">
                            Reset
                        </button>
                    </form>
                {% endblock %}
                #}
                {% block inv_product_mixer_sidebar_action_add_to_cart %}
                    <form method="post"
                          action="{{ path('invMixerProduct.storeFront.mix.session.addToCart') }}">
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('invMixerProduct.storeFront.mix.session.addToCart') }}">

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-2 col-xs-12">
                                <input type="number" name="quantity" value="1" min="1" max="100"/>
                            </div>

                            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
                                <button type="submit" class="btn button btn-block btn-buy">
                                    {{ "InvMixerProduct.buttons.addToCart"|trans }}
                                </button>
                            </div>
                        </div>
                    </form>
                {% endblock %}
            </div>
        {% endblock %}

        {% block inv_product_mixer_sidebar_delivery_info %}
            <hr/>
            <p>{{ "InvMixerProduct.information.deliveryTime"|trans }}</p>
        {% endblock %}

    </div>

    <br/><br/><br/>
    <p><u>Debugging:</u></p>
    <p>
        Id: {{ mixView.mixId }}
    </p>

    {% if(mixView.customer) %}
        <p>
            Customer: {{ mixView.customer.email }}
        </p>
    {% endif %}

    <p>
        Container Design: {{ mixView.containerDefinition.design }}
    </p>
    <p>
        Container MaxWeight: {{ mixView.containerDefinition.maxContainerWeight }}
    </p>
    <p>
        Mix Label: {{ mixView.mixLabel }}
    </p>
    <p>
        Total Price: {{ mixView.mixTotalPrice.value }}
    </p>
{% endblock %}
