{% if shopware.config.InvHomepageSlideshowPro.config.status == true and shopware.config.InvHomepageSlideshowPro.config.image1 and activeRoute == "frontend.home.page" %}
    <section class="center slider" data-autoplay="{{ shopware.config.InvHomepageSlideshowPro.config.autoplay }}" data-autoplay-speed="{{ shopware.config.InvHomepageSlideshowPro.config.autoplayspeed }}">
        {%  if shopware.config.InvHomepageSlideshowPro.config.image1 %}
            {% set media = searchMedia([shopware.config.InvHomepageSlideshowPro.config.image1], context.context) %}
            {% set image1Entity = media.get(shopware.config.InvHomepageSlideshowPro.config.image1) %}
            {% set media = searchMedia([shopware.config.InvHomepageSlideshowPro.config.image11], context.context) %}
            {% set image11Entity = media.get(shopware.config.InvHomepageSlideshowPro.config.image11) %}

            <div class="inv-slider-item inv-slider-item-1">
                <div class="row">
                    <div class="col-lg-6 col-md-6 left-slide" style="background-image: url({{ image1Entity.url }});">
                        <div class="inv-slider-item-content-holder">
                            {{ shopware.config.InvHomepageSlideshowPro.config.slide1|raw }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 right-slide hidden-md hidden-sm hidden-xs" style="background-image: url({{ image11Entity.url }});"></div>
                </div>
            </div>
        {% endif %}

        {%  if shopware.config.InvHomepageSlideshowPro.config.image2 %}
            {% set media = searchMedia([shopware.config.InvHomepageSlideshowPro.config.image2], context.context) %}
            {% set image2Entity = media.get(shopware.config.InvHomepageSlideshowPro.config.image2) %}
            {% set media = searchMedia([shopware.config.InvHomepageSlideshowPro.config.image22], context.context) %}
            {% set image22Entity = media.get(shopware.config.InvHomepageSlideshowPro.config.image22) %}

            <div class="inv-slider-item inv-slider-item-2">
                <div class="row">
                    <div class="col-lg-6 col-md-6 left-slide" style="background-image: url({{ image2Entity.url }});">
                        <div class="inv-slider-item-content-holder">
                            {{ shopware.config.InvHomepageSlideshowPro.config.slide2|raw }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 right-slide hidden-md hidden-sm hidden-xs" style="background-image: url({{ image22Entity.url }});"></div>
                </div>
            </div>
        {% endif %}

        {%  if shopware.config.InvHomepageSlideshowPro.config.image3 %}
            {% set media = searchMedia([shopware.config.InvHomepageSlideshowPro.config.image3], context.context) %}
            {% set image3Entity = media.get(shopware.config.InvHomepageSlideshowPro.config.image3) %}
            {% set media = searchMedia([shopware.config.InvHomepageSlideshowPro.config.image33], context.context) %}
            {% set image33Entity = media.get(shopware.config.InvHomepageSlideshowPro.config.image33) %}

            <div class="inv-slider-item inv-slider-item-3">
                <div class="row">
                    <div class="col-lg-6 col-md-6 left-slide" style="background-image: url({{ image3Entity.url }});">
                        <div class="inv-slider-item-content-holder">
                            {{ shopware.config.InvHomepageSlideshowPro.config.slide3|raw }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 right-slide hidden-md hidden-sm hidden-xs" style="background-image: url({{ image33Entity.url }});"></div>
                </div>
            </div>
        {% endif %}

        {%  if shopware.config.InvHomepageSlideshowPro.config.image4 %}
            {% set media = searchMedia([shopware.config.InvHomepageSlideshowPro.config.image4], context.context) %}
            {% set image4Entity = media.get(shopware.config.InvHomepageSlideshowPro.config.image4) %}
            {% set media = searchMedia([shopware.config.InvHomepageSlideshowPro.config.image44], context.context) %}
            {% set image44Entity = media.get(shopware.config.InvHomepageSlideshowPro.config.image44) %}

            <div class="inv-slider-item inv-slider-item-4">
                <div class="row">
                    <div class="col-lg-6 col-md-6 left-slide" style="background-image: url({{ image4Entity.url }});">
                        <div class="inv-slider-item-content-holder">
                            {{ shopware.config.InvHomepageSlideshowPro.config.slide4|raw }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 right-slide hidden-md hidden-sm hidden-xs" style="background-image: url({{ image44Entity.url }});"></div>
                </div>
            </div>
        {% endif %}

        {%  if shopware.config.InvHomepageSlideshowPro.config.image5 %}
            {% set media = searchMedia([shopware.config.InvHomepageSlideshowPro.config.image5], context.context) %}
            {% set image5Entity = media.get(shopware.config.InvHomepageSlideshowPro.config.image5) %}
            {% set media = searchMedia([shopware.config.InvHomepageSlideshowPro.config.image55], context.context) %}
            {% set image55Entity = media.get(shopware.config.InvHomepageSlideshowPro.config.image55) %}

            <div class="inv-slider-item inv-slider-item-5">
                <div class="row">
                    <div class="col-lg-6 col-md-6 left-slide" style="background-image: url({{ image5Entity.url }});">
                        <div class="inv-slider-item-content-holder">
                            {{ shopware.config.InvHomepageSlideshowPro.config.slide5|raw }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 right-slide hidden-md hidden-sm hidden-xs" style="background-image: url({{ image55Entity.url }});"></div>
                </div>
            </div>
        {% endif %}
    </section>
{% endif %}
