{% sw_extends "@Storefront/storefront/page/checkout/checkout-item.html.twig" %}

{% block page_checkout_item_container %}
    {% if lineItem.payload.inv_mixer_product__is_mix_child_product or lineItem.payload.inv_mixer_product__is_mix_base_product %}
        {% set class = "is-mix-child-product" %}
    {% else %}
        {% set class = "" %}
    {% endif %}

    <div class="{{ class }}">
        {{ parent() }}
    </div>
{% endblock %}

{% block page_checkout_item_info_image_link %}
    {% if isDiscount %}
        <div class="cart-item-img cart-item-discount-icon">
            {% sw_icon 'marketing' style {
                'color': 'success'
            } %}
        </div>
    {%  elseif lineItem.payload.inv_mixer_product__is_mix_container_product %}
        <img
            src="{{ lineItem.cover.url }}"
            alt="{{ "InvMixerProduct.checkout.mixProductContainer.title|trans" }}"
            class="img-fluid cart-item-img"
        />
    {% elseif isNested %}
        <div class="cart-item-nested-icon">
            {% sw_icon 'bag-product' style {
                'color': 'light'
            } %}
        </div>
    {% else %}

        {% if not lineItem.payload.inv_mixer_product__is_mix_child_product and not lineItem.payload.inv_mixer_product__is_mix_base_product %}
        <a href="{{ seoUrl('frontend.detail.page', {'productId': lineItem.referencedId}) }}"
           class="cart-item-img-link"
           title="{{ lineItem.label }}"
            {% if controllerAction is same as('confirmPage') %}
                data-toggle="modal"
                data-modal-class="quickview-modal"
                data-url="{{ path('widgets.quickview.minimal', { 'productId': lineItem.referencedId }) }}"
            {% endif %}
        >
        {% endif %}
            {% block page_checkout_item_info_image_element %}
                {% if lineItem.cover.url %}
                    {% sw_thumbnails 'cart-item-img-thumbnails' with {
                        media: lineItem.cover,
                        sizes: {
                            'default': '100px'
                        },
                        attributes: {
                            'class': 'img-fluid cart-item-img',
                            'alt': (lineItem.cover.translated.alt ?: ''),
                            'title': (lineItem.cover.translated.title ?: '')
                        }
                    } %}
                {% else %}
                    {% sw_icon 'placeholder' style {
                        'size': 'fluid'
                    } %}
                {% endif %}
            {% endblock %}
        {% if not lineItem.payload.inv_mixer_product__is_mix_child_product and not lineItem.payload.inv_mixer_product__is_mix_base_product %}
            </a>
        {% endif %}
    {% endif %}
{% endblock %}


{# Unfortunately price-unit-reference is not nested into a block, so the whole parent block has to be rewritten : ( #}
{% block page_checkout_item_info_details %}
    <div class="col cart-item-details">
        {% block page_checkout_item_info_details_inner %}
            <div class="cart-item-details-container">
                {% block page_checkout_item_info_label %}
                    {% if lineItem.type == 'product' and not lineItem.payload.inv_mixer_product__is_mix_child_product and not lineItem.payload.inv_mixer_product__is_mix_base_product %}
                        <a href="{{ seoUrl('frontend.detail.page', {'productId': lineItem.referencedId}) }}"
                           class="cart-item-label"
                           title="{{ lineItem.label }}"
                            {% if controllerAction is same as('confirmPage') %}
                                data-toggle="modal"
                                data-modal-class="quickview-modal"
                                data-url="{{ path('widgets.quickview.minimal',{ 'productId': lineItem.referencedId }) }}"
                            {% endif %}
                        >
                            {{ lineItem.label|u.truncate(60) }}
                        </a>
                    {% else %}
                        <div class="cart-item-label">
                            {{ lineItem.label|u.truncate(60) }}
                        </div>
                    {% endif %}
                {% endblock %}

                {% block page_checkout_item_info_ordernumber %}
                    {% if lineItem.payload.productNumber and not lineItem.payload.inv_mixer_product__is_mix_child_product and not lineItem.payload.inv_mixer_product__is_mix_base_product %}
                        <div class="cart-item-ordernumber">
                            {{ "checkout.cartItemInfoId"|trans|sw_sanitize }} {{ lineItem.payload.productNumber }}
                        </div>
                    {% endif %}
                {% endblock %}

                {% if lineItem.type == 'product' and lineItem.price.referencePrice is not null and not lineItem.payload.inv_mixer_product__is_mix_child_product and not lineItem.payload.inv_mixer_product__is_mix_base_product %}
                    {% set price = lineItem.price %}
                    {{ "checkout.priceUnitName"|trans|sw_sanitize }}
                    <span class="price-unit-reference">
                        {{ price.referencePrice.purchaseUnit }} {{ price.referencePrice.unitName }}
                        ({{ price.referencePrice.price|currency }}{{ "general.star"|trans|sw_sanitize }} / {{ price.referencePrice.referenceUnit }} {{ price.referencePrice.unitName }})
                    </span>
                {% endif %}

                {% block page_checkout_item_info_variants %}
                    {% if lineItem.payload.options|length >= 1 %}
                        <div class="cart-item-variants">
                            {% for option in lineItem.payload.options %}
                                <div class="cart-item-variants-properties">
                                    <div class="cart-item-variants-properties-name">{{ option.group }}:</div>
                                    <div class="cart-item-variants-properties-value">{{ option.option }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock %}

                {% block page_checkout_item_delivery_date %}
                    {% if deliveryPosition and deliveryPosition.deliveryDate and shopware.config.core.cart.showDeliveryTime %}
                        <div class="cart-item-delivery-date">
                            {{ "checkout.lineItemDeliveryDate"|trans({
                                '%earliest%': deliveryPosition.deliveryDate.earliest|format_date('short', locale=app.request.locale),
                                '%latest%': deliveryPosition.deliveryDate.latest|format_date('short', locale=app.request.locale)
                            })|sw_sanitize }}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}


{% block page_checkout_item_quantity_form %}
    {% if lineItem.quantityInformation and lineItem.stackable %}
        <form action="{{ path('frontend.checkout.line-item.change-quantity', {'id': lineItem.id}) }}"
              class="cart-item-quantity-container"
              method="post"
              data-form-auto-submit="true">

            {% block page_checkout_item_quantity_form_csrf %}
                {{ sw_csrf('frontend.checkout.line-item.change-quantity') }}
            {% endblock %}

            {% block page_checkout_item_quantity_redirect %}
                <input type="hidden"
                       name="redirectTo"
                       value="frontend.checkout.cart.page">
            {% endblock %}

            {# @var quantityInformation \Shopware\Core\Checkout\Cart\LineItem\QuantityInformation #}
            {% set quantityInformation = lineItem.quantityInformation %}
            {% if quantityInformation.maxPurchase %}
                {% set maxQuantity = quantityInformation.maxPurchase %}
            {% else %}
                {% set maxQuantity = shopware.config.core.cart.maxQuantity %}
            {% endif %}

            {% block page_product_detail_buy_quantity %}
                <select name="quantity"
                        class="custom-select quantity-select">
                    {% for quantity in range(lineItem.quantityInformation.minPurchase, maxQuantity, lineItem.quantityInformation.purchaseSteps) %}
                        <option value="{{ quantity }}"
                            {% if quantity == lineItem.quantity %} selected="selected"{% endif %}>
                            {{ quantity }}
                        </option>
                    {% endfor %}
                </select>
            {% endblock %}
        </form>
    {% else %}
{#{% if not lineItem.payload.inv_mixer_product__is_mix_child_product and not lineItem.payload.inv_mixer_product__is_mix_base_product %}#}
            {{ lineItem.quantity }} {% if lineItem.payload.inv_mixer_product__is_mix_child_product or lineItem.payload.inv_mixer_product__is_mix_base_product %}x{% endif %}
{#{% endif %}#}
    {% endif %}
{% endblock %}


{% block page_checkout_item_unit_price %}
    <div class="col-12 col-sm-4 col-md-2 cart-item-unit-price">
        {% block page_checkout_item_unit_price_wrapper %}
            {% if not isDiscount and not isNested and not lineItem.payload.inv_mixer_product__is_mix_child_product and not lineItem.payload.inv_mixer_product__is_mix_base_product %}
                {% block page_checkout_item_unit_price_label %}
                    <div class="cart-item-unit-price-label">
                        {{ "checkout.cartHeaderUnitPrice"|trans|sw_sanitize }}
                    </div>
                {% endblock %}

                {% block page_checkout_item_unit_price_inner %}
                    {{ lineItem.price.unitPrice|currency }}{% block page_checkout_item_unit_price_tax_symbol %}{{ "general.star"|trans|sw_sanitize }}{% endblock %}
                {% endblock %}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}

{% block page_checkout_item_total_price_inner %}
    {% if not lineItem.payload.inv_mixer_product__is_mix_child_product and not lineItem.payload.inv_mixer_product__is_mix_base_product %}
    {{ parent() }}
    {% endif %}
{% endblock %}

