{% sw_extends '@Storefront/storefront/component/product/card/price-unit.html.twig' %}

{% block component_product_box_price_purchase_unit %}
    {% if purchaseUnit and purchaseUnit != 0 %}
        <span class="price-unit-content">
            {{ purchaseUnit }} {{ product.unit.translation('name') }}
        </span>
    {% endif %}
{% endblock %}

{# Unit price is based on a reference unit #}
{% block component_product_box_price_reference_unit %}
    {% if referncePrice is not null %}
        <span class="price-unit-reference">
            {% if product.priceRange %}
                ({{ "listing.listingTextFrom"|trans|sw_sanitize }} {{ fromPrice.referencePrice.price|currency }}{{ "general.star"|trans|sw_sanitize }} / {{ fromPrice.referencePrice.referenceUnit }}&nbsp;{{ fromPrice.referencePrice.unitName }})
            {% else %}
                {% set basePrice = referncePrice.price / 10 %}
                {% set basePriceReferenceUnit = referncePrice.referenceUnit / 10 %}

                ({{ basePrice|currency }}{{ "general.star"|trans|sw_sanitize }} / {{ basePriceReferenceUnit }} {{ referncePrice.unitName }})
            {% endif %}
        </span>
    {% endif %}
{% endblock %}
