<div class="">
    {% block inv_mixer_product_mobile_quickbar %}
        <div class="inv-mixer-product-mobile-quickbar">
            <div class="row">
                <div class="col-4">
                    <span>Sorte: <strong>{{ mixView.containerDefinition.baseProduct.identifier }}</strong> </span>
                </div>
                <div class="col-4">
                    <span>Design: <strong>{{ ("InvMixerProduct.designs." ~ mixView.containerDefinition.design)|trans }}</strong></span>
                </div>
                <div class="col-4">
                    <span>Zutaten: <strong>{{ mixView.totalItemQuantity }}</strong></span>
                </div>
            </div>
            <div class="mixer-product-label-row row">
                <div class="col-12">
                    <div class="mixer-product-label">
                        <form method="post" action="{{ path('invMixerProduct.storeFront.mix.session.label.set') }}"
                              data-inv-mixer-mix-state-action="true"
                              id="mix-state-set-label-form"
                        >
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('invMixerProduct.storeFront.mix.session.label.set') }}">
                            <input type="text" name="label" value="{{ mixView.mixLabel }}"
                                   placeholder="{{ "InvMixerProduct.placeholders.mixLabelMobile"|trans }}" onchange="this.form.getElementsByTagName('button').item(0).click()"/>
                            <button type="submit" style="display:none">set label</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mixer-product-actions row">
                <div class="col-6">
                    {% set mixerProductTotalPrice = mixView.mixTotalPrice.value %}
                    {% set mixerProductTotalWeight = mixView.mixTotalWeight.value %}
                    {% set mixerProductBasePrice = mixerProductTotalPrice / mixerProductTotalWeight * 100 %}

                    {% if context.taxState == "gross" %}
                        {% set taxText = "general.grossTaxInformation"|trans|sw_sanitize %}
                    {% else %}
                        {% set taxText = "general.netTaxInformation"|trans|sw_sanitize %}
                    {% endif %}

                    <hr/>
                    <div class="mixer-product-price-info">
                        <span class="mixer-product-total">
                            {{ mixerProductTotalPrice|currency }}
                        </span>
                                <span class="mixer-product-baseprice">
                             ({{ mixerProductBasePrice|currency }}{{ "general.star"|trans|sw_sanitize }} / 100 {{ mixView.mixTotalWeight.unit }})
                             <a class="mixer-product-tax-link"
                                href="/Service/Versand-und-Lieferung/"
                                title="{{ taxText }}"
                                target="_blank"
                             >
                                {{ taxText }}
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-6">
                    <form method="post"
                          action="{{ path('invMixerProduct.storeFront.mix.session.addToCart') }}"
                    >
                        <div class="row">
                            <div class="col-6">
                                <input type="number" name="quantity" value="1" min="1" max="100"/>
                            </div>

                            <div class="col-6">
                                <button type="submit" class="btn button btn-block btn-buy">
                                    {% sw_icon 'bag' %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block inv_product_mixer_product_mobile_config %}
        <button id="mixer-product-off-canvas-botton" class="mixer-product-off-canvas-botton" data-trigger="#mixer-product-offcanvas">
            {{ "InvMixerProduct.buttons.changeConfig"|trans }}
        </button>
    {% endblock %}
</div>
