{% sw_extends "@Storefront/storefront/base.html.twig" %}

{% block base_header %}
    <div class="header-top d-none d-md-block">
        <div class="container">
            <div class="row d-flex top-row">
                <div class="align-items-center">
                    <div class="d-flex d-inline-flex align-items-center">
                        {% sw_icon 'abstract-painting' style {'pack': 'additional', 'size': 's' } %}
                        {{ "InvKernschmelzeTemplate.topbarBenefit1"|trans }}
                    </div>

                    <div class="d-flex d-inline-flex align-items-center">
                        {% sw_icon 'direct-sale' style {'pack': 'additional', 'size': 's'} %}
                        {{ "InvKernschmelzeTemplate.topbarBenefit2"|trans }}
                    </div>

                    <div class="d-flex d-inline-flex align-items-center">
                        {% sw_icon 'delivery' style {'pack': 'additional', 'size': 's'} %}
                        {{ "InvKernschmelzeTemplate.topbarBenefit3"|trans }}
                    </div>
                </div>

                <div class="d-flex align-items-center align-self-center">
                    {{ "InvKernschmelzeTemplate.topbarSupportLink"|trans|sw_sanitize }}
                </div>
            </div>
        </div>
    </div>

    {{ parent() }}
{% endblock %}
