{% block swag_customized_products_option_type_template_datepicker %}
    <div class="input-group">

        {% block swag_customized_products_option_type_template_datepicker_input_component %}
            <input
                type="text"
                id="swag-customized-products-option-id-{{ option.id }}"
                name="{{ constant('Swag\\CustomizedProducts\\Storefront\\Controller\\CustomizedProductsCartController::CUSTOMIZED_PRODUCTS_TEMPLATE_REQUEST_PARAMETER') }}[options][{{ option.id }}][value]"
                form="productDetailPageBuyProductForm"
                class="form-control swag-customized-products-form-control swag-customized-products-options-datetime"
                autocomplete="off"
                placeholder="{{ props.placeholder }}"
                data-date-picker="true"
                data-date-picker-options="{{ pickerProperties }}"
                {{ option.required ? 'required' : '' }}>
        {% endblock %}

        {% block swag_customized_products_option_type_template_datepicker_input_suffix %}
            <div class="input-group-append px-2 pb-2">
                {% sw_icon 'calendar' %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
