{% block swag_customized_products_detail_base %}
    <div class="swag-customized-products-detail-base">

        {% block swag_customized_products_detail_base_card_general_assignment_info %}
            <sw-alert
                v-if="!isCreateMode"
                variant="info"
                class="swag-customized-product__assignment-info">
                <p>{{ $tc('swag-customized-products.detail.tabGeneral.textAssignmentInfo') }}</p>
            </sw-alert>
        {% endblock %}

        {% block swag_customized_products_detail_base_card_general %}
            <sw-card :title="$tc('swag-customized-products.detail.tabGeneral.cardGeneral')">
                <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0 30px">

                    {% block swag_customized_products_detail_base_card_general_internal_name %}
                        <sw-text-field
                            v-model="template.internalName"
                            :label="$tc('swag-customized-products.detail.tabGeneral.labelInternalName')"
                            :placeholder="$tc('swag-customized-products.detail.tabGeneral.placeholderInternalName')"
                            :error="templateInternalNameError"
                            required>
                        </sw-text-field>
                    {% endblock %}

                    {% block swag_customized_products_detail_base_card_general_active %}
                        <sw-switch-field
                            v-model="template.active"
                            class="swag-customized-products-base-active__checkbox-field"
                            :label="$tc('swag-customized-products.detail.tabGeneral.labelActive')"
                            bordered>
                        </sw-switch-field>
                    {% endblock %}
                </sw-container>

                {% block swag_customized_products_detail_base_card_general_display_name %}
                    <sw-text-field
                        v-model="template.displayName"
                        :label="$tc('swag-customized-products.detail.tabGeneral.labelDisplayName')"
                        :placeholder="$tc('swag-customized-products.detail.tabGeneral.placeholderDisplayName')"
                        :error="templateDisplayNameError"
                        required>
                    </sw-text-field>
                {% endblock %}

                {% block swag_customized_products_detail_base_card_general_description %}
                    <sw-text-editor
                        v-model="template.description"
                        :label="$tc('swag-customized-products.detail.tabGeneral.labelDescription')"
                        :placeholder="$tc('swag-customized-products.detail.tabGeneral.placeholderDescription')">
                    </sw-text-editor>
                {% endblock %}

                {% block swag_customized_products_detail_base_card_general_media %}
                    <sw-upload-store-listener
                        :uploadTag="uploadTag"
                        autoUpload
                        @media-upload-finish="setMediaItem">
                    </sw-upload-store-listener>
                    <sw-media-upload
                        class="swag-customized-products-detail-base__image-upload"
                        :uploadTag="uploadTag"
                        :source="displayMediaItem"
                        :allowMultiSelect="false"
                        :label="$tc('swag-customized-products.detail.tabGeneral.labelImage')"
                        :defaultFolder="templateRepository.schema.entity"
                        @media-drop="onDropMedia"
                        @media-upload-sidebar-open="openMediaSidebar"
                        @media-upload-remove-image="onUnlinkImage">
                    </sw-media-upload>
                {% endblock %}

                {% block swag_customized_products_detail_base_card_general_step_by_step %}
                    <sw-switch-field
                        v-model="template.stepByStep"
                        class="swag-customized-products-base-step-by-step__checkbox-field"
                        :label="$tc('swag-customized-products.detail.tabGeneral.labelStepByStep')"
                        :helpText="$tc('swag-customized-products.detail.tabGeneral.helpTextStepByStep')"
                        bordered>
                    </sw-switch-field>
                {% endblock %}

                {% block swag_customized_products_detail_base_card_general_confirm_input %}
                    <sw-switch-field
                        v-if="false" {# TODO: Remove when it is implemented in the storefront #}
                        v-model="template.confirmInput"
                        class="swag-customized-products-base-confirmInput__checkbox-field"
                        :label="$tc('swag-customized-products.detail.tabGeneral.labelConfirmInput')"
                        :helpText="$tc('swag-customized-products.detail.tabGeneral.helpTextConfirmInput')"
                        bordered>
                    </sw-switch-field>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block swag_customized_products_detail_base_option_card %}
            <sw-card v-if="!isCreateMode"
                     :title="$tc('swag-customized-products.detail.tabGeneral.cardOption.title')">

                {% block swag_customized_products_detail_base_option_grid_toolbar %}
                    <template #toolbar>
                        <sw-card-filter
                            :placeholder="$tc('swag-customized-products.detail.tabGeneral.cardOption.placeholderSearch')"
                            @sw-card-filter-term-change="onOptionSearch">
                            <template #filter>

                                {% block sw_customer_detail_addresses_add_button %}
                                    <sw-button
                                        class="swag-customized-products-detail-base__add-option-action"
                                        v-tooltip="{ message: $tc('swag-customized-products.detail.tabGeneral.cardOption.optionAddNotAvailableTooltip'), disabled: !optionAddDisabled, showOnDisabledElements: true }"
                                        :disabled="optionAddDisabled"
                                        size="small"
                                        variant="ghost"
                                        @click="onOptionAdd">
                                        {{ $tc('swag-customized-products.detail.tabGeneral.cardOption.buttonAdd') }}
                                    </sw-button>
                                {% endblock %}
                            </template>
                        </sw-card-filter>
                    </template>
                {% endblock %}

                {% block swag_customized_products_detail_base_option_grid_content %}
                    <template #grid>
                        <sw-one-to-many-grid v-if="options.length > 0"
                                             class="swag-customized-products-detail-base__option-grid"
                                             :collection="options"
                                             :localMode="false"
                                             :columns="optionColumns"
                                             :isLoading="isLoading"
                                             :sortBy="optionSortProperty"
                                             :sortDirection="optionSortDirection"
                                             :skeletonItemAmount="5"
                                             :allowInlineEdit="false"
                                             ref="grid"
                                             @select-item="onOptionSelectionChanged"
                                             @select-all-items="onOptionSelectionChanged">

                            {% block swag_customized_products_detail_base_option_grid_columns %}
                                {% block swag_customized_products_detail_base_option_grid_column_name %}
                                    <template #column-displayName="{ item }">
                                        <a class="link" @click="onOptionEdit(item)">
                                            {{ item.translated.displayName }}
                                        </a>
                                    </template>
                                {% endblock %}

                                {% block swag_customized_products_detail_base_option_grid_column_type %}
                                    <template #column-type="{ item }">

                                        {% block swag_customized_products_detail_base_option_grid_column_type_content %}
                                            {{ translateOption(item.type) }}
                                        {% endblock %}
                                    </template>
                                {% endblock %}

                                {% block swag_customized_products_detail_base_option_grid_column_values_count %}
                                    <template #column-valuesCount="{ item }">
                                        {{ item.values.length }}
                                    </template>
                                {% endblock %}

                                {% block swag_customized_products_detail_base_option_grid_column_position %}
                                    <template #column-position="{ item }">
                                        <sw-data-grid-column-position
                                            v-model="options"
                                            :disabled="!!optionSearchTerm"
                                            :item="item"
                                            @position-changed="saveOptions">
                                        </sw-data-grid-column-position>
                                    </template>
                                {% endblock %}

                                {% block swag_customized_products_detail_base_option_grid_actions %}
                                    <template #actions="{ item }">

                                        {% block swag_customized_products_detail_base_option_grid_actions_edit %}
                                            <sw-context-menu-item @click="onOptionEdit(item)">
                                                {{ $tc('global.default.edit') }}
                                            </sw-context-menu-item>
                                        {% endblock %}

                                        {% block swag_customized_products_detail_base_option_grid_actions_delete %}
                                            <sw-context-menu-item variant="danger" @click="onOptionDelete(item)">
                                                {{ $tc('global.default.delete') }}
                                            </sw-context-menu-item>
                                        {% endblock %}
                                    </template>
                                {% endblock %}

                                {% block swag_customized_products_detail_base_option_grid_bulk_actions %}
                                    <template #bulk>

                                        {% block swag_customized_products_detail_base_option_grid_bulk_actions_delete %}
                                            <a class="link link-danger" @click="onOptionBulkDelete">
                                                {{ $tc('global.default.delete') }}
                                            </a>
                                        {% endblock %}
                                    </template>
                                {% endblock %}
                            {% endblock %}
                        </sw-one-to-many-grid>

                        {% block sw_customer_detail_order_card_grid_empty_state %}
                            <template v-else>
                                <div class="swag-customized-products-detail-base__empty-state">
                                    <img :src="'/administration/static/img/empty-states/products-empty-state.svg' | asset">

                                    <div class="swag-customized-products-detail-base__empty-state--label">
                                        <p>{{ $tc('swag-customized-products.detail.tabGeneral.cardOption.emptyTitle', !optionSearchTerm) }}</p>
                                    </div>
                                </div>
                            </template>
                        {% endblock %}
                    </template>
                {% endblock %}


            </sw-card>
        {% endblock %}

        {% block swag_customized_products_detail_base_option_detail_modal %}
            <swag-customized-products-option-detail-modal
                v-if="showOptionDetailModal"
                :option="showOptionDetailModal"
                :optionRepository="optionRepository"
                :versionContext="versionContext"
                @modal-close="onOptionCloseDetailModal">
            </swag-customized-products-option-detail-modal>
        {% endblock %}

        {% block swag_customized_products_detail_base_option_create_modal %}
            <sw-modal v-if="showOptionCreateModal"
                      :title="$tc('swag-customized-products.detail.tabGeneral.createOption.title')"
                      @modal-close="onOptionCloseCreateModal">

                {% block swag_customized_products_detail_base_option_create_modal_form %}
                    <sw-container class="swag-customized-products-detail-base__create-modal-form"
                                  columns="1fr 1fr"
                                  gap="32px">

                        {% block swag_customized_products_detail_base_option_create_modal_field_name %}
                            <sw-text-field v-model="newOption.displayName"
                                           class="swag-customized-products-detail-base__create-modal-field-name"
                                           :label="$tc('swag-customized-products.detail.tabGeneral.createOption.nameLabel')"
                                           :placeholder="$tc('swag-customized-products.detail.tabGeneral.createOption.namePlaceholder')"
                                           @keyup.enter="onOptionConfirmCreate"
                                           @keyup.esc="onOptionCloseCreateModal">
                            </sw-text-field>
                        {% endblock %}

                        {% block swag_customized_products_detail_base_option_create_modal_field_type %}
                            <sw-select-field v-model="newOption.type"
                                             class="swag-customized-products-detail-base__create-modal-field-type"
                                             :label="$tc('swag-customized-products.detail.tabGeneral.createOption.typeLabel')"
                                             :helpText="$tc('swag-customized-products.detail.tabGeneral.createOption.typeHelpText')">

                                {% block swag_customized_products_detail_base_option_create_modal_field_type_options %}
                                    <option v-for="type in optionTypes" :value="type">{{ translateOption(type) }}</option>
                                {% endblock %}
                            </sw-select-field>
                        {% endblock %}
                    </sw-container>
                {% endblock %}

                {% block swag_customized_products_detail_base_option_create_modal_footer %}
                    <template #modal-footer>

                        {% block swag_customized_products_detail_base_option_create_modal_cancel %}
                            <sw-button size="small"
                                       @click="onOptionCloseCreateModal">
                                {{ $tc('global.default.cancel') }}
                            </sw-button>
                        {% endblock %}

                        {% block swag_customized_products_detail_base_option_create_modal_confirm %}
                            <sw-button variant="primary"
                                       size="small"
                                       :disabled="optionConfirmCreateDisabled"
                                       @click="onOptionConfirmCreate">
                                {{ $tc('global.default.add') }}
                            </sw-button>
                        {% endblock %}
                    </template>
                {% endblock %}
            </sw-modal>
        {% endblock %}

        {% block swag_customized_products_detail_base_option_delete_modal %}
            <sw-modal v-if="showOptionDeleteModal"
                      :title="$tc('swag-customized-products.detail.tabGeneral.cardOption.titleModalDelete')"
                      variant="small"
                      @modal-close="onOptionCloseDeleteModal">

                {% block swag_customized_products_detail_base_option_delete_modal_text %}
                    <p class="swag-customized-products-detail-base__confirm-delete-text">
                        {{ getOptionsDeleteModalText }}
                    </p>
                {% endblock %}

                {% block swag_customized_products_detail_base_option_delete_modal_footer %}
                    <template #modal-footer>

                        {% block swag_customized_products_detail_base_option_delete_modal_cancel %}
                            <sw-button size="small"
                                       @click="onOptionCloseDeleteModal">
                                {{ $tc('global.default.cancel') }}
                            </sw-button>
                        {% endblock %}

                        {% block swag_customized_products_detail_base_option_delete_modal_confirm %}
                            {% block swag_customized_products_detail_base_option_delete_modal_confirm_single %}
                                <template v-if="showOptionDeleteModal === 'bulk'">
                                    <sw-button size="small"
                                               variant="primary"
                                               @click="onOptionConfirmBulkDelete">
                                        {{ $tc('global.default.delete') }}
                                    </sw-button>
                                </template>
                            {% endblock %}

                            {% block swag_customized_products_detail_base_option_delete_modal_confirm_bulk %}
                                <template v-else>
                                    <sw-button size="small"
                                               variant="primary"
                                               @click="onOptionConfirmDelete">
                                        {{ $tc('global.default.delete') }}
                                    </sw-button>
                                </template>
                            {% endblock %}
                        {% endblock %}
                    </template>
                {% endblock %}
            </sw-modal>
        {% endblock %}

        <swag-customized-products-exclusion-list
            v-if="showExclusionList"
            :context="versionContext"
            :templateId="template.id">
        </swag-customized-products-exclusion-list>

    </div>
{% endblock %}
