{% sw_extends "@Storefront/storefront/layout/navigation/categories.html.twig" %}

{% block layout_navigation_categories_item_link %}
    {% set imageUrl = treeItem.category.media.url %}

    {% if treeItem.category.type == 'folder' %}
        <div class="nav-item nav-link navigation-flyout-link is-level-{{ level }}"
             title="{{ name }}">
            <span itemprop="name">{{ name }}</span>
        </div>
    {% else %}
        <a class="nav-item nav-link navigation-flyout-link is-level-{{ level }}{% if id is same as(activeId) %} active{% endif %}"
           href="{% if link %}{{ link }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: id }) }}{% endif %}"
           itemprop="url"
           title="{{ name }}">
            {% if imageUrl %}
                <img src="{{imageUrl}}" alt="{{ name }}" />
            {% endif %}
            <span itemprop="name">{{ name }}</span>
        </a>
    {% endif %}
{% endblock %}
