{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}

{% block layout_main_navigation_menu_home %}
    {# B2C #}
    {% if context.salesChannel.id == "117fc963b83e4318b040eac17bd8b70d" %}
        {% set allProductsUrl = "InvKernschmelzeTemplate.allProductsLink"|trans|striptags %}
    {# B2B #}
    {% elseif context.salesChannel.id == "4a186f835877446aa29cd798f0e57437" %}
        {% set allProductsUrl = "InvKernschmelzeTemplate.allProductsLinkB2b"|trans|striptags %}
    {# Others #}
    {% else %}
        {% set allProductsUrl = "InvKernschmelzeTemplate.allProductsLink"|trans|striptags %}
    {% endif %}

    <a class="nav-link main-navigation-link home-link"
       href="{{ allProductsUrl }}"
       itemprop="url"
       title="{{ "InvKernschmelzeTemplate.allProductsLinkText"|trans|striptags }}">
        <div class="main-navigation-link-text">
            <span itemprop="name">{{ "InvKernschmelzeTemplate.allProductsLinkText"|trans|sw_sanitize }}</span>
        </div>
    </a>

    {#
    <a class="nav-link main-navigation-link{% if controllerAction is same as('home') %} active{% endif %} home-link"
       href="{{ path('frontend.home.page') }}"
       itemprop="url"
       title="{{ "general.homeLink"|trans|striptags }}">
        <div class="main-navigation-link-text">
            <span itemprop="name">{{ "general.homeLink"|trans|sw_sanitize }}</span>
        </div>
    </a>
    #}
{% endblock %}
