{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}

{% block layout_main_navigation_menu_home %}
    <a class="nav-link main-navigation-link home-link"
       href="{{ path('frontend.home.page') }}"
       itemprop="url"
       title="{{ "InvKernschmelzeTemplate.allProductsLink"|trans|striptags }}">
        <div class="main-navigation-link-text">
            {% sw_icon "stack" %}
            <span itemprop="name">{{ "InvKernschmelzeTemplate.allProductsLink"|trans|sw_sanitize }}</span>
        </div>
    </a>

    {#
    <a class="nav-link main-navigation-link{% if controllerAction is same as('home') %} active{% endif %} home-link"
       href="{{ path('frontend.home.page') }}"
       itemprop="url"
       title="{{ "general.homeLink"|trans|striptags }}">
        <div class="main-navigation-link-text">
            <span itemprop="name">{{ "general.homeLink"|trans|sw_sanitize }}</span>
        </div>
    </a>
    #}
{% endblock %}
