{% sw_extends "@Storefront/storefront/base.html.twig" %}

{% block base_header %}
    {% if shopware.config.InvTrustBar.config.status == true %}
        <div class="header-top d-none d-md-block">
            <div class="container">
                <div class="row d-flex top-row">
                    <div class="align-items-center">

                        <div class="d-flex d-inline-flex align-items-center">
                            {% if shopware.config.InvTrustBar.config.icon1 %}
                                {% set media = searchMedia([shopware.config.InvTrustBar.config.icon1], context.context) %}
                                {% set icon1Entity = media.get(shopware.config.InvTrustBar.config.icon1) %}

                                <img src="{{ icon1Entity.url }}" class="icon" />
                            {% else %}
                                {% sw_icon 'check' style { 'pack': 'additional', 'size': 's' } %}
                            {%  endif %}

                            {{ shopware.config.InvTrustBar.config.benefit1 }}
                        </div>

                        <div class="d-flex d-inline-flex align-items-center">
                            {% if shopware.config.InvTrustBar.config.icon2 %}
                                {% set media = searchMedia([shopware.config.InvTrustBar.config.icon2], context.context) %}
                                {% set icon2Entity = media.get(shopware.config.InvTrustBar.config.icon2) %}
                                <img src="{{ icon2Entity.url }}" class="icon" />
                            {% else %}
                                {% sw_icon 'check' style { 'pack': 'additional', 'size': 's' } %}
                            {%  endif %}

                            {{ shopware.config.InvTrustBar.config.benefit2 }}
                        </div>

                        <div class="d-flex d-inline-flex align-items-center">
                            {% if shopware.config.InvTrustBar.config.icon3 %}
                                {% set media = searchMedia([shopware.config.InvTrustBar.config.icon3], context.context) %}
                                {% set icon3Entity = media.get(shopware.config.InvTrustBar.config.icon3) %}
                                <img src="{{ icon3Entity.url }}" class="icon" />
                            {% else %}
                                {% sw_icon 'check' style { 'pack': 'additional', 'size': 's' } %}
                            {%  endif %}

                            {{ shopware.config.InvTrustBar.config.benefit3 }}
                        </div>
                    </div>

                    <div class="d-flex align-items-center align-self-center">
                        {% if shopware.config.InvTrustBar.config.hotline  %}
                            {% if shopware.config.InvTrustBar.config.hotlineLink %}
                                <a href="{{ shopware.config.InvTrustBar.config.hotlineLink }}">
                            {% endif %}

                                {{ shopware.config.InvTrustBar.config.hotline }}

                            {% if shopware.config.InvTrustBar.config.hotlineLink %}
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    {{ parent() }}

{% endblock %}

