{% sw_extends '@Framework/documents/delivery_note.html.twig' %}

{% block document_line_item_table_row_position %}
    {% if config.displayLineItemPosition %}
        {% if not lineItem.payload.inv_position_as_child %}
            <td>{{ loop.index }}</td>
        {% else %}
            <td>{{ lineItem.payload.inv_position_as_child|replace({'-': ''}) }}</td>
        {% endif %}
    {% endif %}
{% endblock %}

{% block document_line_item_table_row_product_number %}
    {% if lineItem.payload.inv_mixer_product__is_mix_container_product %}
        <td><strong>Schoko-Konfigurator</strong></td>
    {% elseif not lineItem.payload.inv_mixer_product__is_mix_base_product and not lineItem.payload.inv_mixer_product__is_mix_child_product %}
        <td><strong>{{ lineItem.payload.productNumber }}</strong></td>
    {% else %}
        <td>{{ lineItem.payload.productNumber }}</td>
    {% endif %}
{% endblock %}

{% block document_line_item_table_row_label %}
    {% if lineItem.payload.inv_mixer_product__is_mix_container_product %}
        <td class="line-item-breakable"><strong>{{ lineItem.label }}</strong></td>
    {% elseif not lineItem.payload.inv_mixer_product__is_mix_base_product and not lineItem.payload.inv_mixer_product__is_mix_child_product %}
        <td class="line-item-breakable"><strong>{{ lineItem.label }}</strong></td>
    {% else %}
        <td class="line-item-breakable">{{ lineItem.label }}</td>
    {% endif %}
{% endblock %}

{% block document_line_item_table_row_tax_rate %}
    {% if lineItem.payload.inv_mixer_product__is_mix_container_product %}
        <td class="align-right">{{ lineItem.price.taxRules.first.taxRate }}%</td>
    {% elseif not lineItem.payload.inv_mixer_product__is_mix_base_product and not lineItem.payload.inv_mixer_product__is_mix_child_product %}
        <td class="align-right">{{ lineItem.price.taxRules.first.taxRate }}%</td>
    {% else %}
        <td class="align-right"></td>
    {% endif %}
{% endblock %}

{% block document_line_item_row_table_unit_price %}
    {% if lineItem.payload.inv_mixer_product__is_mix_container_product %}
        <td class="align-right">{{ lineItem.unitPrice|currency(currencyIsoCode) }}</td>
    {% elseif not lineItem.payload.inv_mixer_product__is_mix_base_product and not lineItem.payload.inv_mixer_product__is_mix_child_product %}
        <td class="align-right">{{ lineItem.unitPrice|currency(currencyIsoCode) }}</td>
    {% else %}
        <td class="align-right"></td>
    {% endif %}
{% endblock %}

{% block document_line_item_table_row_total_price %}
    {% if lineItem.payload.inv_mixer_product__is_mix_container_product %}
        <td class="align-right">{{ lineItem.totalPrice|currency(currencyIsoCode) }}</td>
    {% elseif not lineItem.payload.inv_mixer_product__is_mix_base_product and not lineItem.payload.inv_mixer_product__is_mix_child_product %}
        <td class="align-right">{{ lineItem.totalPrice|currency(currencyIsoCode) }}</td>
    {% else %}
        <td class="align-right"></td>
    {% endif %}
{% endblock %}
